
.video-list[data-v-6fbadb04]{display:flex;flex-direction:row;flex-wrap:wrap
}
.video-box[data-v-6fbadb04]{width:540px;background-color:#e2e2e2
}
.jswebrtc[data-v-6fbadb04]{width:540px;height:270px;border:1px solid
}

