
.btn-box[data-v-cdf112d2]{position:fixed;bottom:10rem;right:10rem
}
.btn-box .btn[data-v-cdf112d2]{background-color:#e2e2e2;padding:5px;text-align:center;margin-bottom:5px;cursor:pointer;border-radius:5px
}

