
.btn-box[data-v-000735fc]{position:fixed;bottom:10rem;right:10rem
}
.btn-box .btn[data-v-000735fc]{background-color:#e2e2e2;padding:5px;text-align:center;margin-bottom:5px;cursor:pointer;border-radius:5px
}
.traceId-list[data-v-000735fc]{position:absolute;top:20px;left:20px;background-color:#e2e2e2;padding:5px
}

